<li id="<%= comment._id%>">
    <div> <%= comment.content %>  </div>
    <small>Commented By - <%= comment.user.name %>  </small>
    <% if(comment.user.id==user.id || post.user.id==user.id){ %> 
        <a href="/user/post/delete-comment/<%= comment.id%>" class="delete-comment">
            <small>Remove</small>
        </a>
    <% } %> 
</li>