<link rel="stylesheet" href="/css/home.css">
<div id="home">
    <h1> Welcome To Socialization </h1>
    <% if(locals.user){ %>
        <h2> Hey <%= user.name %> </h2>

        <h4>Create Post</h4>
        <form action="/user/post" method="POST">
            <textarea name="content" cols="30" rows="5" placeholder="Write your post" required></textarea>
            <button type="submit">POST</button>
        </form>
        <h4>YourPost</h4>

        <ol type="1">
            <% for(var post of userPost)  {%>
                <li>
                    <%-include('_postList',{post:post})-%>

                    <!--          Comment Section          -->

                    <div>
                        <p>Add Comments - </p>
                        <form action="/user/post/comment" method="POST">
                            <input type="text" name="content" placeholder="Add Comment Here ..." required> 
                            <input type="hidden" name="postId" value="<%= post._id%>" >
                            <button type="submit">Comment</button>
                        </form>
                    </div>
                    
                    <!--          Comment Listing Section          -->
                    <div>
                        <p>Comments on this post</p>
                        <ol type="i">
                            <% for(var comment of post.comments) { %> 

                                <%-include('_commList',{comment:comment})-%>
    
                            <% } %>
                        </ol>
                    </div>

                </li>
                <hr>
            <% } %>
        </ol>
       

    <% } %>
    
</div>
