<h2>
    <span style="color: aqua;"><%= comment.user.name %></span> commented <span style="color: red;"> <%= comment.content %>  </span> 
</h2>
<h3>
    on your <span style="color: red;"><%= comment.post.content %></span> post
</h3>